<?xml version="1.0" encoding="utf-8"?>
<settings>
  <setting name="primary">-16748412</setting>
  <setting name="darkprimary">-16751002</setting>
  <setting name="lightprimary">-16748412</setting>
  <setting name="accent">-16733753</setting>
  <setting name="textshade">-1</setting>
  <setting name="theme">DARK</setting>
  <setting name="unattended">false</setting>
  <setting name="notexturestreaming">true</setting>
  <setting name="savelogs">false</setting>
  <setting name="showlogs">true</setting>
  <setting name="customgame">false</setting>
  <setting name="customclient">false</setting>
  <setting name="admincheck">true</setting>
  <setting name="ncsoftlogin">false</setting>
  <setting name="showdonate">true</setting>
  <setting name="minimize">true</setting>
  <setting name="launcherlogs">false</setting>
  <setting name="modmanlogs">false</setting>
  <setting name="customclientpath">
  </setting>
  <setting name="customgamepath">
  </setting>
  <setting name="updatechecker">true</setting>
  <setting name="pingchecker">true</setting>
  <setting name="gamekiller">true</setting>
  <setting name="useallcores">true</setting>
  <setting name="arguments">
  </setting>
  <setting name="prtime">5000</setting>
  <setting name="autoupdate">true</setting>
  <setting name="firsttime">false</setting>
  <setting name="_default">C:\Garena\Games\32835\</setting>
  <setting name="defaultset">true</setting>
  <setting name="defaultclient">
  </setting>
  <setting name="priority">Normal</setting>
  <setting name="modfolder">
  </setting>
  <setting name="modfolderset">false</setting>
  <setting name="rememberme">false</setting>
  <setting name="automemorycleanup">false</setting>
  <setting name="langset">true</setting>
  <setting name="langpath">Thai</setting>
  <setting name="boostprocess">true</setting>
  <setting name="cleanint">OFF</setting>
  <setting name="uniquepass">UNUSED</setting>
  <setting name="gcdshow">false</setting>
  <setting name="igpshow">false</setting>
  <setting name="autologin">false</setting>
  <setting name="usercountcheck">true</setting>
  <setting name="showcount">true</setting>
  <setting name="customclientname">
  </setting>
  <setting name="lastserver">Garena</setting>
  <setting name="affinityproc">All</setting>
  <setting name="keepintray">false</setting>
  <setting name="startwWindows">false</setting>
  <setting name="customaffinity">0</setting>
  <setting name="affinityman">true</setting>
  <setting name="gameversioncheck">true</setting>
  <setting name="usesystemproxy">false</setting>
  <setting name="maintenancecheck">true</setting>
  <setting name="timestamplogs">false</setting>
  <setting name="garenaclientpath">C:\Garena\Games\32835\</setting>
  <setting name="dx912check">true</setting>
  <setting name="autogamecatcher">true</setting>
  <setting name="licenseemail">
  </setting>
  <setting name="readmessagesid">
  </setting>
  <setting name="closetotray">false</setting>
</settings>